[app]
DEPLOY_ENV=local
LISTEN_PORT=8800
LISTEN_HOST=127.0.0.1
#WORKSPACE="runtime/repos"

[mysql]
MYSQL_HOST="localhost"
MYSQL_USER="root"
MYSQL_PASS="NU4tzbdgU4"
MYSQL_PORT=23306
MYSQL_DB="webhook"

[rabbit]
RABBITMQ_HOST="localhost"
RABBITMQ_PORT=5672
RABBITMQ_USER="rabbit"
RABBITMQ_PASS="Bq9kJaPMi0"

[coding]
CODING_USER_TOKEN=""
