[app]
DEPLOY_ENV=local
LISTEN_PORT=8800
LISTEN_HOST=127.0.0.1

[mysql]
MYSQL_HOST="localhost"
MYSQL_USER="root"
MYSQL_PASS="3Uh6jScdSJ"
MYSQL_PORT=23306
MYSQL_DB="webhook"

[redis]
REDIS_PORT=23679

[repos]
WEBHOOK_CD_WORKSPACE="./runtime"
WEBHOOK_CD_REPO_1_REPO="<platform>::<project or organization>::<repo>::<branch>"
WEBHOOK_CD_REPO_1_DIR="<dir>"

[coding]
CODING_USER_TOKEN=""
