[app]
DEPLOY_ENV=local
LISTEN_PORT=8800
LISTEN_HOST=127.0.0.1
#WORKSPACE="runtime/repos"

[rabbit]
RABBITMQ_HOST="localhost"
RABBITMQ_PORT=5672
RABBITMQ_USER="rabbit"
RABBITMQ_PASS="Bq9kJaPMi0"

[coding]
CODING_USER==""
CODING_TOKEN=""

[github]
# https://docs.github.com/en/rest?apiVersion=2022-11-28
GITHUB_USER=""
GITHUB_TOKEN=""
GITHUB_WEBHOOK_SECRET=""
